<link rel="stylesheet" href="/assets/css/dashboard.css">
<link rel="stylesheet" href="/assets/css/news.css">

<!-- Estilos de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<!-- Scripts de DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here...">
        </div>
        <img src="/assets/img/profile.png" alt="" class="profile-img">
    </div>

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <ion-icon name="paper-plane-outline"></ion-icon>
                <span class="text">Nueva noticia</span>
            </div>

            <div class="form-container">
                <form id="form-register-news" method="POST" class="form" action="/news">
                    <p class="title2">Formulario de registro</p>
                    <p class="message"></p>

                    <label>
                        <input id="name" name="TITULO_NOT" class="input" type="text" placeholder="" required>
                        <span>Título</span>
                    </label>

                    <label>
                        <textarea id="autor" name="TEXTO_NOT" class="input textarea" placeholder="" rows="5"
                            required></textarea>
                        <span>Texto</span>
                    </label>


                    <div class="flex">
                        <div class="left-fields">


                            <div class="category-container">
                                <select id="categoryNEWS" name="CATEGORIA_NOT" class="input" required>
                                    <option value="" disabled selected hidden>Categoría</option>
                                </select>

                                <select id="labelNEWS" name="ETIQUETA_NOT" class="input" required>
                                    <option value="" disabled selected hidden>Etiqueta</option>
                                </select>
                            </div>


                            <label>
                                <input id="isbn" class="input" name="FECHA_PUBLICAR_NOT" type="date" placeholder=""
                                    required="">
                                <span>Fecha de publicación</span>
                            </label>
                        </div>

                        <label class="custum-file-upload">
                            <ion-icon name="cloud-upload-outline"></ion-icon>
                            <div class="text">Click aquí para subir una imagen</div>
                            <input type="file" id="file" accept="image/*" onchange="previewImage(event)">
                        </label>
                    </div>

                    <button class="submit" type="submit">Registrar noticia</button>
                </form>

                <div class="image-preview">
                    <i id="icon-placeholder" class="uil uil-image-search placeholder-icon"></i>
                    <img id="preview" src="" alt="Vista previa de la imagen">
                </div>
            </div>
        </div>
    </div>

    <div class="news-list">
        <table id="newsTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Texto</th>
                    <th>Fecha de Publicación</th>
                    <th>Categoría</th>
                    <th>Etiqueta</th>

                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {{#each news}}
                <tr>
                    <td>{{ID_NOT}}</td>
                    <td>{{TITULO_NOT}}</td>
                    <td>{{TEXTO_NOT}}</td>
                    <td>{{FECHA_PUBLICAR_NOT}}</td>
                    <td>{{CATEGORIA}}</td>
                    <td>{{ETIQUETA}}</td>

                    <td>{{#if ACTIVO_NOT}}<span style="color:green;">Activo</span>{{else}}<span
                            style="color:red;">Inactivo</span>{{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script src="/assets/js/registerNews.js"></script>
<script src="/assets/js/imgPreview.js"></script>
<script src="/assets/js/tableFormatNews.js"></script>