<link rel="stylesheet" href="/assets/css/dashboard.css">
<link rel="stylesheet" href="/assets/css/users.css">

<!-- Estilos de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<!-- Scripts de DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


<section class="dashboard">
    <div class="top">

        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here...">
        </div>

        <img src="/assets/uploads/pics/profile.png" alt="" class="profile-img">

    </div>

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <ion-icon name="person-add-outline"></ion-icon>
                <span class="text">Nuevo usuario</span>

            </div>

            <div class="form-container">

                <form id="form-register-user" method="POST" class="form" action="/users">

                    <p class="title2">Formulario de registro</p>
                    <p class="message"></p>

                    <div class="flex">

                        <label>
                            <input id="name" name="NOMBRE_USR" class="input" type="text" placeholder="" required>
                            <span>Nombres</span>
                        </label>

                        <label>
                            <input id="lastname" name="APELLIDO_USR" class="input" type="text" placeholder="" required>
                            <span>Apellidos</span>
                        </label>

                        <select id="type" id="options" name="TIPO_USR" class="input" required>
                            <option value="" disabled selected hidden>Tipo de Usuario</option>
                            <option value="1">Admin</option>
                            <option value="2">Gerente</option>
                            <option value="3">Colaborador</option>
                        </select>

                    </div>

                    <div class="flex">
                        <div class="left-fields">
                            <label>
                                <input id="correo_usr" class="input" name="CORREO_USR" type="email" placeholder=""
                                    required="">
                                <span>Correo Electrónico</span>
                            </label>

                            <label>
                                <input id="contrasena_usr" class="input" name="CONTRASENA_USR" type="password"
                                    placeholder="" required="">
                                <span>Contraseña</span>
                            </label>

                        </div>

                        <label class="custum-file-upload">
                            <ion-icon name="cloud-upload-outline"></ion-icon>
                            <div class="text">Click aquí para subir una imagen</div>
                            <input id="img_usr" type="file" id="file" accept="image/*" onchange="previewImage(event)">
                        </label>

                    </div>

                    <button class="submit" type="submit">Registrar usuario</button>
                </form>

                <div class="image-preview">
                    <i id="icon-placeholder" class="uil uil-image-search placeholder-icon"></i>
                    <img id="preview" src="" alt="Vista previa de la imagen">
                </div>
            </div>
        </div>
    </div>

    <div class="user-list">
        <table id="usersTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Tipo</th>
                    <th>Fecha de Registro</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{ID_USR}}</td>
                    <td>{{NOMBRE_USR}}</td>
                    <td>{{APELLIDO_USR}}</td>
                    <td>{{CORREO_USR}}</td>
                    <td>{{TIPO_USR}}</td>
                    <td>{{FECHA_ALTA_USR}}</td>
                    <td>{{#if ACTIVO_USR}}<span style="color:green;">Activo</span>{{else}}<span
                            style="color:red;">Inactivo</span>{{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modal-register-user" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content form">
            <div class="modal-header">
                <h5 class="modal-title title2">Editar Usuario</h5>
                <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="modal-flex-container" class="form">

                    <form id="form-register-user-modal" class="modal-register" method="PUT" action="/users/:id">

                        <div class="flex">
                            <input type="hidden" id="modal-id" name="ID_USR">

                            <label>
                                <input id="modal-name" name="NOMBRE_USR" class="input" type="text" required>
                                <span>Nombres</span>
                            </label>

                            <label>
                                <input id="modal-lastname" name="APELLIDO_USR" class="input" type="text" required>
                                <span>Apellidos</span>
                            </label>
                        </div>

                        <div class="flex">

                            <label>
                                <input id="modal-correo" name="CORREO_USR" class="input" type="email" required>
                                <span>Correo Electrónico</span>
                            </label>


                            <select id="type-modal" id="options" name="TIPO_USR" class="input" required>
                                <option value="" disabled selected hidden>Tipo de Usuario</option>
                                <option value="1">Admin</option>
                                <option value="2">Gerente</option>
                                <option value="3">Colaborador</option>
                            </select>


                            <label class="custum-file-upload">
                                <ion-icon name="cloud-upload-outline"></ion-icon>
                                <div class="text">Click aquí para subir una imagen</div>
                                <input type="file" id="modal-file" accept="image/*" onchange="previewImage(event)">
                            </label>
                        </div>

                        <div class="flex">
                            <div class="checkbox-wrapper-10">
                                <input id="modal-active" name="ACTIVO_USR" type="checkbox" hidden>
                                <input type="checkbox" id="cb5" class="tgl tgl-flip" onchange="updateCheckboxState()">
                                <label for="cb5" data-tg-on="Activo" data-tg-off="Inactivo" class="tgl-btn"></label>
                            </div>

                            <button class="submit" type="submit">Guardar cambios</button>
                        </div>
                    </form>

                    <div class="image-preview">
                        <i id="icon-placeholder" class="uil uil-image-search placeholder-icon"></i>
                        <img id="modal-preview" src="" alt="Vista previa de la imagen">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/imgPreview.js"></script>
<script src="/assets/js/tableFormatUsers.js"></script>
<script src="/assets/js/registerUser.js"></script>