<link rel="stylesheet" href="/assets/css/dashboard.css">
<link rel="stylesheet" href="/assets/css/news.css">

<!-- Estilos de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<!-- Scripts de DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


<section class="dashboard">

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <ion-icon name="paper-plane-outline"></ion-icon>
                <span class="text">Nueva noticia</span>
            </div>

            <div class="form-container">
                <form id="form-register-news" method="POST" class="form" action="/news" enctype="multipart/form-data">

                    <p class="title2">Formulario de registro</p>
                    <p class="message"></p>

                    <label>
                        <input id="name" name="TITULO_NOT" class="input" type="text" placeholder="" required>
                        <span>Título*</span>
                    </label>

                    <label>
                        <textarea id="autor" name="TEXTO_NOT" class="input textarea" placeholder="" rows="5"
                            required></textarea>
                        <span>Descripcion*</span>
                    </label>

                    <div class="flex">
                        <div class="left-fields">

                            <div class="category-container">
                                <select id="categoryNEWS" name="CATEGORIA_NOT" class="input" required>
                                    <option value="" disabled selected hidden>Categoría*</option>
                                </select>

                                <select id="labelNEWS" name="ETIQUETA_NOT" class="input" required>
                                    <option value="" disabled selected hidden>Etiqueta*</option>
                                </select>
                            </div>


                            <label>
                                <input id="isbn" class="input" name="FECHA_PUBLICAR_NOT" type="date" placeholder=""
                                    required="">
                                <span>Fecha de publicación*</span>
                            </label>
                        </div>

                        <label class="custum-file-upload">
                            <ion-icon name="cloud-upload-outline"></ion-icon>
                            <div class="text">Click aquí para subir una imagen</div>
                            <input type="file" id="file" accept="image/*" onchange="previewImage(event)">
                        </label>
                    </div>

                    <button class="submit" type="submit">Registrar noticia</button>
                </form>

                <div class="image-preview">
                    <i id="icon-placeholder" class="uil uil-image-search placeholder-icon"></i>
                    <img id="preview" src="" alt="Vista previa de la imagen">
                </div>
            </div>
        </div>
    </div>

    <div class="news-list">
        <table id="newsTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descripcion</th>
                    <th>Fecha de Publicación</th>
                    <th>Categoría</th>
                    <th>Etiqueta</th>

                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {{#each news}}
                <tr data-id="{{ID_NOT}}" data-category-id="{{ID_CATEGORIA}}" data-label-id="{{ID_ETIQUETA}}"
                    data-active="{{ACTIVO_NOT}}" data-image="{{IMG_NOT}}">
                    <td>{{ID_NOT}}</td>
                    <td>{{TITULO_NOT}}</td>
                    <td>{{TEXTO_NOT}}</td>
                    <td>{{FECHA_PUBLICAR_NOT}}</td>
                    <td>{{CATEGORIA}}</td>
                    <td>{{ETIQUETA}}</td>
                    <td>
                        {{#if ACTIVO_NOT}}
                        <span style="color:green;">Activo</span>
                        {{else}}
                        <span style="color:red;">Inactivo</span>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>



        </table>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modal-register-news" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content form">
            <div class="modal-header">
                <h5 class="modal-title title2">Editar Noticia</h5>
                <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="modal-flex-container">
                    <input type="hidden" id="edit-id" name="ID_NOT" />
                    <div class="modal-register">
                        <form id="form-edit-news" method="POST" class="-modal-form" action="/news/:id"
                            enctype="multipart/form-data">
                            <label>
                                <input id="edit-title" name="TITULO_NOT" class="input" type="text" placeholder=""
                                    required>
                                <span>Título*</span>
                            </label>

                            <label>
                                <textarea id="edit-text" name="TEXTO_NOT" class="input textarea" placeholder="" rows="5"
                                    required></textarea>
                                <span>Descripcion*</span>
                            </label>

                            <div class="flex">
                                <div class="left-fields">
                                    <div class="category-container-modal">
                                        <select id="edit-categoryNEWS" name="CATEGORIA_NOT" class="input" required>
                                            <option value="" disabled selected hidden>Categoría*</option>
                                        </select>

                                    </div>

                                    <select id="edit-labelNEWS" name="ETIQUETA_NOT" class="input" required>
                                        <option value="" disabled selected hidden>Etiqueta*</option>
                                    </select>

                                    <label>

                                        <input id="edit-date" class="input" name="FECHA_PUBLICAR_NOT" type="date"
                                            placeholder="" required="">
                                        <span>Fecha de publicación*</span>
                                    </label>
                                </div>

                            </div>

                            <div class="flex">
                                <div class="checkbox-wrapper-10">
                                    <input id="modal-active" name="ACTIVO_NOT" type="hidden" />
                                    <input type="checkbox" id="cb5" class="tgl tgl-flip"
                                        onchange="updateCheckboxState()" />
                                    <label for="cb5" data-tg-on="Activo" data-tg-off="Inactivo" class="tgl-btn"></label>
                                </div>
                                <button class="submit" type="submit">Guardar cambios</button>

                            </div>
                        </form>
                    </div>

                    <div class="left-fields">
                        <div class="image-preview">
                            <i class="uil uil-image-search placeholder-icon"></i>
                            <img src="" alt="Vista previa de la imagen">
                        </div>

                        <label class="custum-file-upload-modal">
                            <ion-icon name="cloud-upload-outline"></ion-icon>
                            <div class="text">Haz clic aquí para subir una imagen</div>
                            <input type="file" id="edit-file" accept="image/*">
                        </label>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/sis/middleware/news/registerNews.js"></script>
<script src="/assets/js/imgPreview.js"></script>
<script src="/sis/middleware/news/tableFormatNews.js"></script>