<link rel="stylesheet" href="/assets/css/dashboard.css">
<link rel="stylesheet" href="/assets/css/products.css">

<!-- Estilos de DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<!-- Scripts de DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<section class="dashboard">

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <ion-icon name="library-outline"></ion-icon>
                <span class="text">Nuevo producto</span>

            </div>

            <div class="form-container">

                <form id="form-register-product" method="POST" class="form" action="/products">
                    <p class="title2">Formulario de registro</p>
                    <p class="message"></p>

                    <div class="flex">

                        <label>
                            <input id="name" name="NOMBRE_LIB" class="input" type="text" placeholder="" required>
                            <span>Titulo*</span>
                        </label>

                        <label>
                            <input id="autor" name="AUTOR_LIB" class="input" type="text" placeholder="" required>
                            <span>Autor*</span>
                        </label>

                        <label>
                            <input id="lastname" name="EDITORIAL_LIB" class="input" type="text" placeholder="" required>
                            <span>Editorial*</span>
                        </label>

                        <div class="category-container">
                            <select id="category" name="CATEGORIA_LIB" class="input" required>
                                <option value="" disabled selected hidden>Género*</option>
                            </select>

                            <select id="subcategory" name="SUBCATEGORIA_LIB" class="input" required>
                                <option value="" disabled selected hidden>Subgénero</option>
                            </select>
                        </div>

                    </div>

                    <div class="flex">
                        <div class="left-fields">

                            <label>
                                <input id="isbn" class="input" name="ISBN_LIB" type="number" placeholder="" required="">
                                <span>ISBN*</span>
                            </label>

                            <label>
                                <input id="stock" class="input" name="STOCK_LIB" type="number" placeholder=""
                                    required="">
                                <span>Cantidad*</span>
                            </label>

                        </div>

                        <label class="custum-file-upload">
                            <ion-icon name="cloud-upload-outline"></ion-icon>
                            <div class="text">Click aquí para subir una imagen</div>
                            <input type="file" id="file" accept="image/*" onchange="previewImage(event)">
                        </label>

                    </div>

                    <button class="submit" type="submit">Registrar producto</button>
                </form>

                <div class="image-preview">
                    <i class="placeholder-icon uil uil-image-search"></i>
                    <img src="" alt="Vista previa de la imagen">
                </div>

            </div>
        </div>
    </div>
    <table id="productsTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>ISBN</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th>Subcategoría</th>
                <th>Estado</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{ID_LIB}}</td>
                <td>{{NOMBRE_LIB}}</td>
                <td>{{AUTOR_LIB}}</td>
                <td>{{EDITORIAL_LIB}}</td>
                <td>{{ISBN_LIB}}</td>
                <td>{{STOCK_LIB}}</td>
                <td>{{CATEGORIA}}</td>
                <td>{{SUBCATEGORIA}}</td>
                <td>
                    {{#if ACTIVO_LIB}}
                    <span style="color:green;">Disponible</span>
                    {{else}}
                    <span style="color:red;">No Disponible</span>
                    {{/if}}
                </td>
                <td>
                    {{#if IMG_LIB}}
                    <img src="{{IMG_LIB}}" alt="Imagen Producto" style="width: 50px; height: 50px; border-radius: 5px;">
                    {{else}}
                    <img src="/assets/img/default-placeholder.jpg" alt="Sin imagen"
                        style="width: 50px; height: 50px; border-radius: 5px;">
                    {{/if}}
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>


</section>

<!-- Modal -->
<div class="modal fade" id="modal-register-product" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content form">
            <div class="modal-header">
                <h5 class="modal-title title2">Editar Producto</h5>
                <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="modal-flex-container" class="form">

                    <form id="form-update-product" class="modal-register" method="POST" enctype="multipart/form-data">
                        <input type="hidden" id="modal-id" name="ID_LIB" />

                        <div class="flex">
                            <label>
                                <input id="modal-name" name="NOMBRE_LIB" class="input" type="text" placeholder=""
                                    required>
                                <span>Titulo*</span>
                            </label>

                            <label>
                                <input id="modal-autor" name="AUTOR_LIB" class="input" type="text" placeholder=""
                                    required>
                                <span>Autor*</span>
                            </label>

                            <label>
                                <input id="modal-editorial" name="EDITORIAL_LIB" class="input" type="text"
                                    placeholder="" required>
                                <span>Editorial*</span>
                            </label>

                            <div class="category-container-modal">
                                <select id="modal-category" name="CATEGORIA_LIB" class="input" required>
                                    <option value="" disabled selected hidden>Genero*</option>
                                </select>

                                <select id="modal-subcategory" name="SUBCATEGORIA_LIB" class="input" required
                                    style="margin-bottom: 5px;">
                                    <option value="" disabled selected hidden>Subgenero</option>
                                </select>
                            </div>
                        </div>

                        <div class="flex">
                            <div class="left-fields-modal">
                                <label>
                                    <input id="modal-isbn" class="input" name="ISBN_LIB" type="number" placeholder=""
                                        required>
                                    <span>ISBN*</span>
                                </label>

                                <label>
                                    <input id="modal-stock" class="input" name="STOCK_LIB" type="number" placeholder=""
                                        required>
                                    <span>Cantidad*</span>
                                </label>
                            </div>

                            <label class="custum-file-upload">
                                <ion-icon name="cloud-upload-outline"></ion-icon>
                                <div class="text">Click aquí para subir una imagen</div>
                                <input type="file" id="modal-file" name="IMG_LIB" accept="image/*">
                            </label>
                        </div>

                        <div class="flex">
                            <div class="checkbox-wrapper-10">
                                <input id="modal-active" name="ACTIVO_LIB" type="hidden">
                                <input type="checkbox" id="cb5" class="tgl tgl-flip" onchange="updateCheckboxState()">
                                <label for="cb5" data-tg-on="Disponible" data-tg-off="No Disponible"
                                    class="tgl-btn"></label>
                            </div>


                            <button class="submit" type="submit">Guardar cambios</button>
                        </div>
                    </form>

                    <div class="image-preview">
                        <i class="placeholder-icon uil uil-image-search"></i>
                        <img id="preview-product" src="" alt="Vista previa de la imagen">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/sis/middleware/products/registerProduct.js"></script>
<script src="/assets/js/imgPreview.js"></script>
<script src="/sis/middleware/products/tableFormatProducts.js"></script>